secrets.yaml
.env

# OpenTofu
infrastructure-mgmt/bootstrap/terraform.tfstate
infrastructure-mgmt/bootstrap/terraform.tfstate.backup
infrastructure-mgmt/bootstrap/.terraform/
infrastructure-mgmt/main/.terraform/
infrastructure-mgmt/main/targets.auto.tfvars
infrastructure-mgmt/main/terraform.tfvars
**/.terraform.lock.hcl
